extends layout

block content
    h1= title
    p Welcome to #{title}
    // <button onclick="updatePitch(0);">sample</button>
    div#visualizer
        canvas#buffer1.vcanvas(width='1400', height='700', style="border:4px solid #d3d3d3;")
        canvas#buffer2.vcanvas(width='1400', height='700', style="border:4px solid #d3d3d3;")

    button(onclick='this.innerText = togglePlayback()') use demo audio
    //button(onclick='toggleLiveInput()') use live input
    button(onclick='toggleOscillator()') use oscillator

    //loading textures
    .texture
        img#leaf1(src='/images/leaf1.png', alt='leaf1', height='256', width='256' hidden)
        img#flower1(src='/images/flower1.png', alt='flower1', height='256', width='256' hidden)

    //loading resources
    link(rel='stylesheet', href='/stylesheets/index.css')

    script(type='text/javascript' src='/javascripts/jsrender/requestAnimFrame.js')
    script(type='text/javascript' src='/javascripts/jsrender/audio_global.js')
    script(type='text/javascript' src='/javascripts/jsrender/visual_global.js')
    script(type='text/javascript' src='/javascripts/jsrender/melodyStore.js')
    script(type='text/javascript' src='/javascripts/jsrender/pitchdetect.js')
    script(type='text/javascript' src='/javascripts/jsrender/deterministicTree.js')
    script(type='text/javascript' src='/javascripts/jsrender/visual.js')